*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
:root {
    --color-base1: #000000;
    --color-base2: #ffffff;

}

body {
    font-family: protipo,sans-serif;
    font-weight: 400;
    font-style: normal;
}
a {
    text-decoration: none;
}
section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-base1);
}
.container {
    max-width: 98rem;
    padding: 1.5rem;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 1.5rem;
}
.card {
   background-color: #262525;
   color: var(--color-base2);
   padding: 1.5rem;
   border-radius: .5rem;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}
.card-tittle-large {
    font-family: protipo,sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 7.5rem;
    letter-spacing: .5rem;
    transform: translate(7rem);
    color: #1d1d1d;
    transition: transform 5s;
}
.card-tittle-small {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.card-description {
    font-size: 1.2rem;
    line-height: 1.5;
}
.card-cta {
    display: inline-block;
    color: var(--color-base2);
    margin-top: 1rem;
    align-self: flex-end;
}
.card:hover .card-tittle-large {
    transform: translateX(-150%);
    color: var(--color-base2);
}
.card.twitter:hover{
    background-color: #1da1f2;
}
.card.instagram:hover {
    background-image: radial-gradient(at 20% 120%, #feda78 20%, #e23467 60%, #ac2bb3 90% );
}