*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
:root {
    --color-base1: #000000;
    --color-base2: #ffffff;

}

body {
    font-family: protipo,sans-serif;
    font-weight: 400;
    font-style: normal;
}
a {
    text-decoration: none;
}
section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-base1);
}
.container {
    max-width: 98rem;
    padding: 1.5rem;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 1.5rem;
}
.card {
   background-color: #262525;
   color: var(--color-base2);
   padding: 1.5rem;
}