* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family:"DM Sans", sans-serif;
}

a {
    text-decoration: none;
}
:root{
    --color-base: #ffffff;
    --color-base1: #000000;
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --grey: #bababa;
}
body {
    width: 100%;
    height: 100vh;
}
header{
    width: 100%;
    height: 5vh;
    background-color: var(--color-base1);
}
main {
    width: 100%;
    height: 90vh;
    background-color: var(--color-base);
}
.wrapper{
    max-width: 1024px;
    margin: 0 auto;
    height: 80vh;
}
.video {
    position: relative;
    cursor: pointer;
    user-select: none;
   /*  display: flex;
    justify-content: center;
    align-items: center; */
}
.video::after {
    content: "►";
    width: 100px;
    height: 100px;
    color: white;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 50%;
    border-radius: 50%;
    font-size: 1.3em;
  }
  /* .video:hover .video::after {
    transform: scale(1.1);
  } */

/*   img {
    max-width: 100%;
  } */

/*   .hidden {
    display: none;
  } */

  /* .video-js {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  } */

 /*  pause */
/* .video img {
    width: 40rem;
    height:30rem;
    background-size: cover;
    object-fit: cover;
} */
/* #music {
    
} */
/* footer {
    width: 100%;
    height: 5vh;
    background-color: var(--color-base1);
} */