* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

a {
    text-decoration: none;
}
:root{
    --color-base: #ffffff;
    --color-base1: #000000;
}
body {
    width: 100%;
    height: 100vh;
}
