* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family:"DM Sans", sans-serif;
}
:root{
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --off-white: #faf8f7;
    --just-white: #fff;
    --grey: #bababa;
}
a {
    text-decoration: none;
}
body {
    height: 100vh;
    width: 100%;
}
.wrapper {
 max-width: 1024px;
 margin: 0 auto;
}
.hidden {
    display: none;
}
.video {
    position: relative;
    cursor: pointer;
    user-select: none;
}
.video-js {
    width: 100%;
    height: auto;
    user-select: none;
}
.video::after {
    content: "►";
    width: 100px;
    height: 100px;
    color: white;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    font-size: 1.3rem;
}
.video:hover .video::after {
    transform: scale(1.1);
}
img {
    max-width: 100%;
}
